.tile {
    position:absolute;
    -webkit-border-radius:50%;
}
.tile.burger {background:orange;}
.tile.hotdog {background:red;}
.tile.pizza {background:yellow;}
#game {
    position:relative;
    margin:auto;
    overflow:hidden;
}

#combo-meter {
    width:300px;
    height:20px;
    border:1px solid lightgray;
    border-radius:10px;
    margin:20px auto;
    position:relative;
    overflow:hidden;
}

.filling {
    background:lightblue;
    position:absolute;
    left:0; top:0; bottom:0;
    border-radius:10px;
    width:0;
}