html {
    font-family:helvetica;
    text-align:center;
}

.tile {
    position:absolute;
    background-size:contain;
    background-position:center center;
    background-repeat:no-repeat;
}


.board {
    position:relative;
    margin:auto;
    overflow:hidden;
}

.meter {
    border:1px solid lightgray;
    border-radius:10px;
    position:relative;
    overflow:hidden;
    width:300px;
    height:20px;
    margin:20px auto;
}

.meter .filling {
    background:lightblue;
    position:absolute;
    left:0; top:0; bottom:0;
    border-radius:10px;
    width:0;
}

.meter .display {
    text-align:center;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-weight:bold;
    font-size:14pt;
}

.timer {
    font-size:28px;
    text-align:center;
    margin:20px;
}

.button {
    background:gray;
    border-radius:5px;
    padding:4px 8px;
    color:white;
    cursor:pointer;
    display:inline-block;
}