.tile {
    position:absolute;
    -webkit-border-radius:50%;
}
.tile.burger {background:orange;}
.tile.hotdog {background:red;}
.tile.pizza {background:yellow;}
#game {
    position:relative;
    margin:auto;
    overflow:hidden;
}
